.qr_code {
  table {
    border-width: 0;
    border-style: none;
    border-color: #0000ff;
    border-collapse: collapse;

    td {
      border-width: 0;
      border-style: none;
      border-color: #0000ff;
      border-collapse: collapse;
      padding: 0;
      margin: 0;
      width: 2px;
      height: 2px;

      &.black {
        background-color: #000;
      }

      &.white {
        background-color: #fff;
      }
    }
  }
}
