.fb-like{data: {href: url,
                width: "The pixel width of the plugin",
                height: "The pixel height of the plugin",
                colorscheme: "light",
                layout: "button_count",
                action: "like",
                send: "false",
                show: {faces: "true"}}}
