- og_title = @page_title ? "#{@page_title} - blog.hogel.org" : "blog.hogel.org"
%meta{ property: "fb:admins", content: "1258700525" }
%meta{ property: "fb:app_id", content: "184374358417632" }
%meta{ property: "og:title", content: "#{og_title}" }
%meta{ property: "og:type", content: "blog" }
%meta{ property: "og:url", content: url_for }
%meta{ property: "og:description", content: "hogelogのblogです" }
